:where(.css-dev-only-do-not-override-17a39f8).ant-menu-dark .ant-menu-item-selected, :where(.css-dev-only-do-not-override-17a39f8).ant-menu-dark>.ant-menu .ant-menu-item-selected{
    background-color: #0C356A;
}

.middlebarbg{
    background-color: #0C356A;
}

:where(.css-dev-only-do-not-override-17a39f8).ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover{
    background-color: #0C356A;
    color: black;
}

:where(.css-17a39f8).ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover{
    background-color: #0C356A;
    color: black;

}