:where(.css-dev-only-do-not-override-17a39f8).ant-menu-dark .ant-menu-item-selected, :where(.css-dev-only-do-not-override-17a39f8).ant-menu-dark>.ant-menu .ant-menu-item-selected{
    background-color: #0F4C75;
}

.middlebarbg{
    background: rgb(47,115,193);
background: linear-gradient(155deg, rgba(47,115,193,1) 4%, rgba(0,134,145,1) 56%);
}

:where(.css-dev-only-do-not-override-17a39f8).ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover{
    background-color: rgb(36 108 196);
    color: black;
}

:where(.css-17a39f8).ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover{
    background-color: rgb(36 108 196);
    color: black;

}